@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

.text-title {
  font-family: "Merriaweather", serif;
  text-align: center;
  font-weight: 700;
  font-size: 10vh;
}
.text-green {
  color: chartreuse;
}
.text-white {
  color: white;
}
.text-medium {
  font-size: 20px;
}
.margin-1 {
  margin: 30px;
}
